<!DOCTYPE html><html class="default"><head><meta charSet="utf-8"/><meta http-equiv="x-ua-compatible" content="IE=edge"/><title>counter-game</title><meta name="description" content="Documentation for counter-game"/><meta name="viewport" content="width=device-width, initial-scale=1"/><link rel="stylesheet" href="assets/style.css"/><link rel="stylesheet" href="assets/highlight.css"/><script async src="assets/search.js" id="search-script"></script></head><body><script>document.body.classList.add(localStorage.getItem("tsd-theme") || "os")</script><header><div class="tsd-page-toolbar"><div class="container"><div class="table-wrap"><div class="table-cell" id="tsd-search" data-base="."><div class="field"><label for="tsd-search-field" class="tsd-widget search no-caption">Search</label><input type="text" id="tsd-search-field"/></div><ul class="results"><li class="state loading">Preparing search index...</li><li class="state failure">The search index is not available</li></ul><a href="index.html" class="title">counter-game</a></div><div class="table-cell" id="tsd-widgets"><div id="tsd-filter"><a href="#" class="tsd-widget options no-caption" data-toggle="options">Options</a><div class="tsd-filter-group"><div class="tsd-select" id="tsd-filter-visibility"><span class="tsd-select-label">All</span><ul class="tsd-select-list"><li data-value="public">Public</li><li data-value="protected">Public/Protected</li><li data-value="private" class="selected">All</li></ul></div> <input type="checkbox" id="tsd-filter-inherited" checked/><label class="tsd-widget" for="tsd-filter-inherited">Inherited</label><input type="checkbox" id="tsd-filter-externals" checked/><label class="tsd-widget" for="tsd-filter-externals">Externals</label></div></div><a href="#" class="tsd-widget menu no-caption" data-toggle="menu">Menu</a></div></div></div></div><div class="tsd-page-title"><div class="container"><h1> counter-game</h1></div></div></header><div class="container container-main"><div class="row"><div class="col-8 col-content"><div class="tsd-panel tsd-typography">
<a href="#enkelt-räknae-program" id="enkelt-räknae-program" style="color: inherit; text-decoration: none;">
  <h1>Enkelt räknae program</h1>
</a>
<p>Överar dig på att addera siffror</p>

<a href="#install" id="install" style="color: inherit; text-decoration: none;">
  <h2>Install</h2>
</a>
<pre><code><span class="hl-0">$</span><span class="hl-1"> </span><span class="hl-0">npm</span><span class="hl-1"> </span><span class="hl-0">install</span><span class="hl-1"> </span>
</code></pre>

<a href="#usage" id="usage" style="color: inherit; text-decoration: none;">
  <h2>Usage</h2>
</a>
<pre><code>
</code></pre>

<a href="#api" id="api" style="color: inherit; text-decoration: none;">
  <h2>API</h2>
</a>

<a href="#functions" id="functions" style="color: inherit; text-decoration: none;">
  <h3>Functions</h3>
</a>

<a href="#class" id="class" style="color: inherit; text-decoration: none;">
  <h3>Class</h3>
</a>

<a href="#license" id="license" style="color: inherit; text-decoration: none;">
  <h2>License</h2>
</a>
<p>GPL, see LICENSE file</p>

<a href="#contribute" id="contribute" style="color: inherit; text-decoration: none;">
  <h2>Contribute</h2>
</a>
<p>Please feel free to open an issue or submit a pull request.</p>

<a href="#changelog" id="changelog" style="color: inherit; text-decoration: none;">
  <h2>Changelog</h2>
</a>
<ul>
<li><strong>0.0.1</strong> <em>{{year}}-??-??</em> First version published</li>
</ul>

<a href="#author" id="author" style="color: inherit; text-decoration: none;">
  <h2>Author</h2>
</a>
<p><strong>©Magnus Kronnäs 2020</strong></p>
</div></div><div class="col-4 col-menu menu-sticky-wrap menu-highlight"><nav class="tsd-navigation primary"><ul><li class="current"><a href="modules.html">Modules</a></li><li class=" tsd-kind-module"><a href="modules/main.html">main</a></li><li class=" tsd-kind-module"><a href="modules/question.html">question</a></li></ul></nav></div></div></div><footer class="with-border-bottom"><div class="container"><h2>Legend</h2><div class="tsd-legend-group"><ul class="tsd-legend"><li class="tsd-kind-function"><span class="tsd-kind-icon">Function</span></li></ul><ul class="tsd-legend"><li class="tsd-kind-interface"><span class="tsd-kind-icon">Interface</span></li></ul></div><h2>Settings</h2><p>Theme <select id="theme"><option value="os">OS</option><option value="light">Light</option><option value="dark">Dark</option></select></p></div></footer><div class="container tsd-generator"><p>Generated using <a href="https://typedoc.org/" target="_blank">TypeDoc</a></p></div><div class="overlay"></div><script src="assets/main.js"></script></body></html>